/* Default Style (Mobile-first) */

/* Typography and colors */

body {
  font-family: sans-serif;
  font-size:15px;
/* background-color: #FFFAFA; */
  background-color: aliceblue;
  color:#334C33;
  
}

a {
  color: #F08080;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: rgb(239, 206, 212);
}

h1 {
  font-size:1.75rem;
}


h2,h3, h4 {
  color:#334C33;
}

header{
  background-color: #A2BEA2;
  color:#FFFAFA;
}

.header-content-wrapper {
  background-color: #86A585;
}

nav ul {
   background-color: #A2BEA2;
}

nav a {
  color:#FFFAFA;
  font-weight: bold;

}

nav a:hover, nav a:focus-visible {
  background-color:#FFFAFA;
  color: #708090;
}
/* contact form styles  */
#contact-form-section {
  background-color: #fffafc;
 }

.form-group label{
  font-weight: bold;
}

/* .contact-form input[type= "text"] */
.contact-form button[type = "submit"] {
  background-color: #F08080;
  color:#1b1616;
}

.contact-form button[type ="submit"]:hover,
.contact-form button[type ="submit"]:focus-visible {
  background-color: #E66A6A;
}
.recipe-paragraph{
  font-size: 0.85em;
}

.postcode-search-group button {
  background-color: #A2BEA2;
  color: black;
}

.long-lat-button {
  background-color: #adafb2;
  color: black;
  font-size:1em;
  font-weight: 600;
}

.long-lat-button:hover {
  background-color: #e6d1e5;
  border: #332e53;
}
.long-lat-button:disabled{
  background-color:#f7f9fc;
  font-weight: normal;
}

#weather-result button {
  background-color: rgb(156, 156, 250);
  color: rgb(11, 19, 22);
}
#weather-result button:hover {
  background-color: lightcoral;
}
#weather-result li{
  background-color: #f7f7f7;
  font-size: 1.1rem;
  font-weight: 500;
}

footer { 
  background-color: #A2BEA2;
  color:#F0F8FF;

}

/* Layout --------------------------*/

body {
  margin:0;
}

.inner-body {
  display:flex;
  flex-direction:column;
}

main {
  padding:1em;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 768px;
  margin: 0 auto;
  line-height: 1.6;
  /* allow content to fill available space */
  flex-grow: 1; 

}

img{
  width:70%;
  max-width: 100%; 
  height: auto;
  margin: 0 3em;
}

header {
  padding: 0;
  position: sticky;
  top:0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* logo and title */
.header-content-wrapper {
  display: grid;
  /* need 3 columns to have logo, h1, empty space */
  grid-template-columns: 1fr auto 1fr;
  align-items:center;
  padding: 0.5em 0;
  gap: 1em;
    /* justify-content: center; */
}

.header-content-wrapper h1{
  margin:0;
  padding-left: 0.1em;
  text-align: center;

}

.image-caption-container {
  display: flex;
  flex-direction: column;
  font-size:12px;
  width: 80%;
  padding-left: 1em;
  align-items: flex-start;
}

.header-logo {
  /* start column on left side of page */
  grid-column:1/2;
  margin:0;
  justify-self: start;
  width:32px;
  height:32px;
  border-radius: 50%;
  object-fit:cover;
}

/* navigation header */

nav ul {
  list-style: none;
  padding:0;
  margin:0;
  display: flex;
  justify-content: center;

}

nav li {
  margin: 0 1em;
}

nav a {
  text-decoration: none;
  padding: 0.5em 1em;
}

nav a:hover, nav a:focus-visible {
  border-radius: 5px;
}

.recipe-layout {
  display:flex;
  flex-direction: column;
}

.recipe-image {
  order: 1;
  margin-bottom: 1.5em;
  text-align: center;
}

.recipe-text {
  order: 2;
}

.recipe-img img{
  max-width: 80%;
  height: auto;
  border-radius: 8px;
}

/* recipe information with title and text */
article {
  border-bottom: 1px dashed #A2BEA2;
  padding-bottom: 1em;
  margin-bottom: 2em;
}

#contact-form-section { 
  max-width: 600px;
  margin: 2em auto;
  padding: 2em;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);

}

.contact-form {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form-group label {
  display:block;
  margin-bottom: 0.5em; 
}

.contact-form input[type="text"],.contact-form textarea { 
  width: 100%;
  padding:0.8em;
  border: 1px solid #A2BEA2;
  border-radius: 7px;
  resize: vertical; 
}

#food-safety{
  margin:0.75em;
}

/*-----weather page styling----*/

.postcode-search-group {
  display: flex;
  gap: 0.5rem;
  padding: 0.2em;
  max-width: 400px;
}
.postcode-search-group input[type ="text"]{
  width: 100%;
  max-width: 250px;
  padding: 0.8em;
  border: 1px solid #A2BEA2;
  border-radius: 7px;
  flex-grow:1;
}
.postcode-search-group button {

  padding: 0.8em 1.2em;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  background-color: #A2BEA2;
  color: black;
}
/*radio buttons for F and C temp units*/
.radio-button-group {
  display:flex;
  justify-content: center;
  gap: 1em;
  margin-block-end: 1.5em;
}
.long-lat-button {
  display:block;
  margin: 1em auto;
  padding: 0.625em 1.25em;
  border-radius: 8px;
  cursor:pointer;
  background-color: #f7faff;
  color: black;
}
.long-lat-button:disabled {
  cursor:default;
  background-color:#f7f9fc;
  font-weight: normal;
}

#weather-result button {
  background-color: rgb(158, 158, 255);
  color: rgb(0, 0, 0);
  padding: 0.5em 0.875em;
  border:none;
  border-radius:8px;
  cursor: pointer;
  margin-top: .375em;
}

#weather-result button:hover {
  background-color: rgb(247, 180, 180);
}

#weather-result ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
 }

#weather-result li{
  padding: 0.625em;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f7f7f7;
  font-size: 1.1rem;
  font-weight: 500;
}

.temp-value {
  font-weight: bold;
  /* color:#b05c5c; */
  color: rgb(19, 4, 4);
  font-size: 1.2rem;
}


footer {
  text-align:center;
  padding: 1em 0;
  margin-top: auto;
}

footer p {
  margin: 0;
}
/* ---@media query Laptop screen minimum: 768px a */
@media (min-width:768px) {
  .container {
    /* max-width: 1300px; */
    max-width: 1000px;
    padding: 0 40px;
  };

  body {
    font-size: 18px;
    line-height: 1.6;
  }

  h1{
    font-size: 2.1em;
  }
  h2{
    font-size: 1.7em;
  }
   /* Navigation */
  nav ul {
    gap: 1.5em;
  }
  /* Home Page changes */
  /* form section */
  .form-image-container {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: flex-start;
  }
  .form-image-container figure {
    flex:1;
  }
  #contact-form-section {
    flex:1;
    margin-top: 0;
  }
  /* Recipe page */
  article {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
    align-items:start;
    padding: 1.5em 1.5em;
  }
  /* move recipe image to left order2 and text to right order:1 */
  .recipe-image {
    /* (moves image to the left ) */
    order:1;
    margin-top: 5em;
  }
  .recipe-text {
    order:1;
    margin-top:-21em;
  }
}
/* for screens at least 1140px or bigger  */
@media(min-width: 1140px){
  main{
    max-width: 1200px;
    padding: 2em 3em;
  }

  h1{
    font-size: 2.5em;
  }

  nav a{
    padding: 0.7em 1.5em;
  }
}


